$outliner: #1a1919;
$primary-dark: #101010;
$secondary-dark: #141414;
$white-text: #fff;
$faded-white-text: #989898;
$call-to-action: linear-gradient(45deg, rgb(156, 61, 150), #fd792d);
$primary-light: #e4641a;
$color: rgb(233, 50, 50);
